In [1]:
import pandas as pd
arr=[1,2,3]
a=pd.Series(arr)
print(a)

0    1
1    2
2    3
dtype: int64

In [5]:
import pandas as pd
arr=[4,5,6,7]
a=pd.Series(arr,index=["i","j","k","l"])
print(a)
print(a["k"])

i    4
j    5
k    6
l    7
dtype: int64
6

In [6]:
s1=pd.Series([4,8,9,10])
s2=pd.Series([3,7,8,9])
s_sum=s1+s2
s_diff=s1-s2
s_mul=s1-s2
s_div=s1/s2
print(s_sum)
print(s_diff)
print(s_mul)
print(s_div)

0     7
1    15
2    17
3    19
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64
0    1.333333
1    1.142857
2    1.125000
3    1.111111
dtype: float64

In [9]:
data={"sports":["football","cricket","hockey"],"players":["ronaldo","messi","kohli"]}
df=pd.DataFrame(data)
print(df)

     sports  players
0  football  ronaldo
1   cricket    messi
2    hockey    kohli

In [15]:
data={"sports":["football","cricket","hockey"],"players":["ronaldo","messi","kohli"]}
df=pd.DataFrame(data)
df.to_csv('data1.csv',index=False)
df=pd.read_csv('data1.csv')
print(df)

     sports  players
0  football  ronaldo
1   cricket    messi
2    hockey    kohli

In [1]:
import numpy as np
import pandas as pd
exam_data={"name":["Abhijith","Ajay","Arun","Shabeeb","Abhimanyu","Amal","Littul","Gokul","Sourav","Vibijith"],"score":[75,8,85,90,82,88,np.nan,6,87,96],"attempt":[1,3,1,2,1,1,5,2,1,2],"qualify":['yes','no','yes','yes','yes','yes','no','no','yes','yes']}
ed=pd.DataFrame(exam_data)
print(ed.info())
print("\n")
print(ed[['name','qualify']])
print("\n")
print(ed[ed['attempt']>2])
print("\n")
trows=len(ed.axes[0])
tcols=len(ed.axes[1])
print("Rows:",trows," Coloum:",tcols)
print("\n")
print(ed[(ed['attempt']<2)&(ed['score']>10)])
print("\n")
print(ed[ed['score'].isnull()])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     10 non-null     object
 1   score    9 non-null      float64
 2   attempt  10 non-null     int64
 3   qualify  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 448.0+ bytes
None


        name qualify
0   Abhijith     yes
1       Ajay      no
2       Arun     yes
3    Shabeeb     yes
4  Abhimanyu     yes
5       Amal     yes
6     Littul      no
7      Gokul      no
8     Sourav     yes
9   Vibijith     yes


     name  score  attempt qualify
1    Ajay    8.0        3      no
6  Littul    NaN        5      no


Rows: 10  Coloum: 4


        name  score  attempt qualify
0   Abhijith   75.0        1     yes
2       Arun   85.0        1     yes
4  Abhimanyu   82.0        1     yes
5       Amal   88.0        1     yes
8     Sourav   87.0        1     yes


     name  score  attempt qualify
6  Littul    NaN        5      no

In [16]:
import numpy as np
import pandas as pd
dic={"id":[101,102,103,104,105,106],
     "name":["Abhi","Kannaappi",np.nan,"Achan","Kovaalji","Kelippen"],
     "age":[np.nan,20,20,20,25,20],
     "degree":[np.nan,"CS","BCA","Physics","Chemsitry","Maths"],
     "cgpa":[np.nan,4.0,3.2,3.7,4.2,4.3]}
df=pd.DataFrame(dic)
cls=['A','A','B','C','A','B']
df['class']=cls
print("A\n",df,"\n")
tc=len(df.axes[1])
print("B\nNo of Coloumns:",tc,"\n")
print("C\n",df.head(3))
print("\n")
print(df.tail(4))
print("\n")
df2=df.dropna()
print("D\n",df2,"\n")
df.pop('id')
print("E\n",df,"\n")
df1=df.iloc[2:6]
print("F\n",df1[['name','cgpa']],"\n")
mean_val=df['age'].mean()
df['age'].fillna(value=mean_val,inplace=True)
print("G\n",df)

A
     id       name   age     degree  cgpa class
0  101       Abhi   NaN        NaN   NaN     A
1  102  Kannaappi  20.0         CS   4.0     A
2  103        NaN  20.0        BCA   3.2     B
3  104      Achan  20.0    Physics   3.7     C
4  105   Kovaalji  25.0  Chemsitry   4.2     A
5  106   Kelippen  20.0      Maths   4.3     B

B
No of Coloumns: 6

C
     id       name   age degree  cgpa class
0  101       Abhi   NaN    NaN   NaN     A
1  102  Kannaappi  20.0     CS   4.0     A
2  103        NaN  20.0    BCA   3.2     B


    id      name   age     degree  cgpa class
2  103       NaN  20.0        BCA   3.2     B
3  104     Achan  20.0    Physics   3.7     C
4  105  Kovaalji  25.0  Chemsitry   4.2     A
5  106  Kelippen  20.0      Maths   4.3     B


D
     id       name   age     degree  cgpa class
1  102  Kannaappi  20.0         CS   4.0     A
3  104      Achan  20.0    Physics   3.7     C
4  105   Kovaalji  25.0  Chemsitry   4.2     A
5  106   Kelippen  20.0      Maths   4.3     B

E
         name   age     degree  cgpa class
0       Abhi   NaN        NaN   NaN     A
1  Kannaappi  20.0         CS   4.0     A
2        NaN  20.0        BCA   3.2     B
3      Achan  20.0    Physics   3.7     C
4   Kovaalji  25.0  Chemsitry   4.2     A
5   Kelippen  20.0      Maths   4.3     B

F
        name  cgpa
2       NaN   3.2
3     Achan   3.7
4  Kovaalji   4.2
5  Kelippen   4.3

G
         name   age     degree  cgpa class
0       Abhi  21.0        NaN   NaN     A
1  Kannaappi  20.0         CS   4.0     A
2        NaN  20.0        BCA   3.2     B
3      Achan  20.0    Physics   3.7     C
4   Kovaalji  25.0  Chemsitry   4.2     A
5   Kelippen  20.0      Maths   4.3     B